{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "standard"],
    "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true
    },
    "rules": {
		"indent": [ 2, 4 ]
    }
}